.footer {
    background: #272727;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: baseline;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer p {
    color: white;
    font-size: 0.8rem;
}