body {
    background: #EEEEEE !important;
}

.banner-heading {
    display: inline-block;
    width: 500px;
    line-height: 0.9 !important;
    font-size: 6rem !important;
    font-weight: 800 !important;
}

.banner-subheading, .banner-heading {
    color: white;
    text-shadow: 2px 2px 5px black;
}

.banner-heading.learnAboutDepression {
    width: 900px;
    margin-bottom: 25px;
}

.banner-subheading {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    margin-left: 5px;
    margin-bottom: 30px;
}

.jumbotron {
    background-image: url('images/background.jpg');
    background-position: center;
    height: 500px !important;
    background-size: cover;
    height: 100%;
}

.jumbotron.learnAboutDepression {
    background-image: url('images/support.jpg');
}

.actionBtn {
    color: white;
    background: rgb(39 39 39);
    padding: 15px 20px;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.5s;
    transition: background-color 0.5s;
    float: left;
}

.actionBtn:hover {
    text-decoration: none;
    color: rgb(31, 31, 31);
    background-color: white;
}

.info-section {
    height: 150px;
    background: #90044B3D;
    text-align: center;
    line-height: 150px;
}

.info-section p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    max-width: 1140px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.info-section span {
    color: #90044B;
    font-size: 2rem;
    font-weight: 700;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.cardSection {
    padding: 0 !important;
    margin-top: 2rem;
}

.card {
    border: none !important;
    border-radius: 0 !important;
}

.card-body {
    padding: 2.5rem !important;
    position: relative;
}

.card-body .actionBtn {
    width: 300px;
    text-align: center;
}

.card-body .actionBtn.btn-right {
    float: right;
}

.card-title {
    font-weight: 700;
}

.card-text {
    margin-bottom: 35px;
}

.img-square-wrapper {
    width: 500px;
    min-width: 300px;
    background-image: url("images/learn_about_depression.jpg");
    background-position: center;
    background-size: cover;
}

.img-square-wrapper.help {
    background-image: url("images/help.jpg");
}

.info-card-container {
    display: flex;
    justify-content: space-around;
}

.info-card {
    position: relative;
    height: 250px;
    width: 430px;
    text-align: center;
    line-height: 250px;
    padding: 0 35px;
    bottom: 0;
    transition: bottom 0.5s;
    border-radius: 10px;
}

.info-card p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.info-card:first-of-type p span, .info-card:nth-of-type(2) p span, .info-card:nth-of-type(3) p span {
    font-size: 2rem;
    font-weight: 700;
}

.info-card:first-of-type p span {
    color: #14588c;
}

.info-card:nth-of-type(2) p span {
    color: #a54617;
}

.info-card:nth-of-type(3) p span {
    color: #9e6828;
}

.info-card:first-of-type {
    background: #a7bbca;
}

.info-card:nth-of-type(2) {
    background: #b69c8f;
}

.info-card:nth-of-type(3) {
    background: #ecad62;
}

.info-card:hover {
    bottom: 10px;
}

.card.graph {
    height: 400px;
}

.img-square-wrapper.graph {
    background: black;
    width: 1200px;
}

.support-card {
    position: relative;
    width: 290px;
    height: 400px;
    background: white;
    box-shadow: 0px 30px 40px -20px hsl(229deg 6% 66%);
    border-radius: 10px;
    overflow: hidden;
    bottom: 0;
    transition: bottom 0.5s;
    margin-bottom: 35px;
}

.support-card:hover {
    bottom: 10px;
}

.support-card-header {
    width: 100%;
    height: 60%;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding: 25px;
}

.support-card-subTitle {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.support-card-footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.support-card-footer .actionBtn {
    flex-grow: 1;
    text-align: center;
}

.support-card-footer .actionBtn:first-of-type {
    margin-bottom: 6px;
}

.blue {
    background: #52aeff;
}

.img-square-wrapper.signs {
    background-image: url("images/signs.jpg");
}

.causes-and-treatment-container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 2rem;
}

.link-card {
    height: 350px;
    width: 430px;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 30px 30px 0 30px;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 30px 40px -20px hsl(229deg 6% 66%);
    margin-bottom: 2rem;
}

.link-card:hover {
    text-decoration: none;
    color: black;
    background: #6f86a4;
}

.link-card:hover .icon-svg {
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.link-card:hover {
    color: white;
}

.icon-svg {
    transition: filter 0.5s;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-svg.causes {
    background-image: url("images/causes.svg");
}

.icon-svg.treatment {
    background-image: url("images/treatment.svg");
}

.svg-title {
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;
    right: 7px;
}

.svg-subTitle {
    font-size: 1rem;
    margin-bottom: 25px;
}

.actionBtn-div {
    color: white;
    background: rgb(39 39 39);
    padding: 15px 20px;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

.info-mainHeading {
    font-size: 2rem;
    font-weight: 800;
}

.info-subHeading {
    font-size: 1.6rem;
    font-weight: 700;
}

.jumbotron.depression-causes {
    background-image: url('images/causes.jpg');
}

.jumbotron.depression-signs {
    background-image: url('images/signsandsymptoms.jpg');
}

.jumbotron.depression-treatment {
    background-image: url('images/treatment.jpg');
}

.jumbotron.statistics {
    background-image: url('images/Statistics_page.jpeg');
}

.my-container {
    display: flex;
    padding: 2rem 2rem 0 2rem;
    justify-content: space-around;
    flex-wrap: wrap !important;
}

.breadcrumb {
    margin-bottom: 0rem !important;
}

nav {
    float: none !important;
}

.brand-logo-brainguard {
    width: 30px;
    margin-right: 10px;
}

.coming-soon-background {
    background-image: url(images/coming-soon.jpg);
    height: 93.5vh;
    background-size: cover;
}

.footer {
    background: #272727;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: baseline;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer p {
    color: white;
    font-size: 0.8rem;
}

.info-videos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

/* Style tab links */

.stats-tablink {
    background-color: rgb(39, 39, 39);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.stats-tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */

.stats-tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#carouselExampleControls,
#carouselExampleControls-GetSupport {
    display: none !important;
}

iframe {
    width: 100% !important;
    height: 100% !important;
}

.iframe-container {
    width: 100%;
    height: 315px;
}

.info-videos .iframe-container:first-of-type {
    margin-right: 10px;
}

.info-videos .iframe-container:nth-of-type(2) {
    margin-left: 10px;
}

.treatment-info-section {
    display: flex;
    justify-content: space-between;
}

.treatment-info-section img {
    max-height: 270px;
}

.treatment-info-section p {
    max-width: 785px;
    text-align: justify;
}

@media only screen and (max-width: 1400px) {
    #carouselExampleControls {
        display: block !important;
    }
    .container-fluid.hide-for-mobile {
        display: none !important;
    }
    .info-card {
        position: relative;
        height: 250px;
        width: 100%;
        text-align: center;
        line-height: 250px;
        padding: 0 35px;
        bottom: 0;
        transition: bottom 0.5s;
        border-radius: unset;
    }
    .info-card.one p span {
        color: #14588c;
    }
    .info-card.two p span {
        color: #a54617;
    }
    .info-card.three p span {
        color: #9e6828;
    }
    .info-card.one {
        background: #a7bbca;
    }
    .info-card.two {
        background: #b69c8f;
    }
    .info-card.three {
        background: #ecad62;
    }
    .info-card:hover {
        bottom: unset;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 5% !important;
    }

    .info-videos {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .banner-heading.learnAboutDepression {
        width: 730px;
        margin-bottom: 25px;
        font-size: 5rem !important;
    }
    .banner-subheading.learnAboutDepression {
        font-size: 1.2rem !important;
    }
}

@media only screen and (max-width: 900px) {
    .causes-and-treatment-container {
        display: flex;
        flex-direction: column;
        max-width: 1140px;
        margin: 0 auto;
        justify-content: space-around;
        margin-top: 2rem;
    }
    .link-card {
        height: 350px;
        width: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: unset;
        padding: 30px 30px 0 30px;
        color: black;
        transition: 0.5s;
        box-shadow: 0px 30px 40px -20px hsl(229deg 6% 66%);
        margin-bottom: 2rem;
    }
    .link-card .actionBtn-div {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .banner-subheading {
        font-size: 1.2rem !important;
    }
    .banner-heading.learnAboutDepression {
        font-size: 4rem !important;
        width: 100%;
    }
    .banner-subheading.learnAboutDepression {
        font-size: 1.1rem !important;
    }
}

@media only screen and (max-width: 700px) {
    .card-horizontal {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    .card-horizontal.reverse {
        flex-direction: column-reverse;
    }
    .img-square-wrapper {
        width: 100%;
        height: 230px;
        min-width: 300px;
        background-image: url("images/learn_about_depression.jpg");
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width: 645px) {
    .my-container {
        display: none;
    }
    
    #carouselExampleControls-GetSupport {
        display: block !important;
        margin-top: 21px !important;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 5% !important;
    }

    .support-card {
        position: relative;
        width: 100%;
        height: 400px;
        background: white;
        box-shadow: 0px 30px 40px -20px hsl(229deg 6% 66%);
        border-radius: unset;
        overflow: hidden;
        bottom: 0;
        transition: bottom 0.5s;
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 576px) {
    .banner-subheading {
        font-size: 1.2rem !important;
    }
    .banner-heading {
        width: 100%;
        font-size: 5rem !important;
    }
    .container {
        margin-top: 40px;
    }

    .info-videos {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
        flex-direction: column;
        height: unset;
    }

    .info-videos .iframe-container:first-of-type,
    .info-videos .iframe-container:nth-of-type(2) {
        margin-right: unset;
        margin-left: unset;
    }

    .iframe-container {
        width: 100%;
        height: 250px;
    }

    .info-videos .iframe-container:first-of-type {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .card-body .actionBtn {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .banner-heading {
        width: 73%;
        font-size: 3rem !important;
    }
    .banner-subheading {
        font-size: 1rem !important;
    }
    .actionBtn {
        font-size: 1rem;
    }
    .info-section {
        height: unset;
    }
    .info-section p {
        font-size: 1rem;
        width: 91%;
    }
    .info-section span {
        font-size: 1.5rem;
    }
    .banner-heading.learnAboutDepression {
        width: 100%;
        margin-bottom: 25px;
        font-size: 3rem !important;
    }
    .banner-subheading.learnAboutDepression {
        font-size: 1rem !important;
    }
}